<div class="titulo-azul text-center" style="font-size:50px;margin-top: 40px;">Nuevo Video</div>

<div class="barra" style="margin-top: 25px; margin-bottom:40px;">
  <div class="barra1"></div>
  <div class="barra2"></div>
  <div class="barra3"></div>
</div>


<%= render 'form' %>

<%= link_to 'Back', videos_path %>
