@import "colors.css.scss";

.titulo-blanco
{

  font-family: 'Cambria';
  text-transform: uppercase;
  font-size:28px;
  color: #000000;
  margin-bottom: -10px;
}

.titulo-azul
{

  font-family: "Copperplate";
  text-transform: uppercase;
  font-size:41px;
  //color: $azul;
  color: $verde;

}
.texto
{
  font-family: 'Cambria';
  font-size:19px;
  color: black;
  text-align: justify;
}

.texto-iconos
{
  margin-top: 7px;
  font-family: 'Copperplate';
  font-size:21px;
  color: white;
  text-transform: uppercase;
  text-align: center;

}
.modal{
  font-family: 'Copperplate';
  font-size:15px;

}
.margenes-superiores{
  margin:55px 0;
  overflow: hidden;
  position: relative;
}
.margenes-superiores2{
  margin-bottom:50px;
  overflow: hidden;
  position: relative;
}
.hover:hover{
  opacity: 0.7;
}




.nombre{
text-transform: uppercase;
  font-family: 'Cambria';
  font-size: 19px;

}
.cargo{
  text-transform: uppercase;
  font-family: "Copperplate";
  font-size: 16px;


}
.carrera{
  text-transform: uppercase;
  font-family: "Copperplate";
  font-size: 14px;

 }


.menu{
  a {
    color: black;
    line-height: 1px;

  }
a:hover {
  color: #166565;
  font-size:25px;

}
}
a {
  color: white;
}


.punto{
  display: inline-block;
  color: $barra2;
  font-size: 20px;
}

.modal-title {

  font-size: 20px;
  font-family: "Copperplate";
  text-transform: uppercase;
  //color: $azul;
  color: $verde;
}


.cambiar-color{
  color: $verde;
}


.cambiar-opacidad{
opacity: 1;
}
