<!DOCTYPE html>
<html>
<head>
  <title>ABANTOS ENERGY</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/pajaro_solido.PNG">


</head>
<body>

<%= yield %>

</body>
</html>
